[submodule "riscv-tests-am"]
	path = riscv-tests-am
	url = https://github.com/NJU-ProjectN/riscv-tests-am
[submodule "riscv-arch-test-am"]
	path = riscv-arch-test-am
	url = https://github.com/NJU-ProjectN/riscv-arch-test-am
